{% extends "page.html" %}
{% block title %}Index of Spectrum Libraries{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Index of Spectrum Libraries</h1>

<div class="alert alert-info" role="alert">
    Showing spectrum libraries in the path<br/><kbd>{{ path }}</kbd>
</div>

<table class="library_list bordered bordered_slim stripy">
    <thead>
    <tr>
        <td>Name</td>
        <td>Contents</td>
    </tr>
    </thead>
    <tbody>
    {% for library in libraries %}
    <tr>
        <td>
            <a href="{{ library.url }}">
                {{ library.name }}
            </a>
        </td>
        <td>
            {{ library.item_count }} spectra
        </td>
    </tr>
    {% else %}
    <tr>
        <td>
            No libraries present.
        </td>
        <td>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
