{% extends "page.html" %}
{% block title %}Spectrum from &lt;{{ library }}&gt;{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>
    Spectrum from
    <a href="{{parent_url}}">
        {{ library }}
    </a>
</h1>

<table class="spectrum_metadata bordered bordered_slim stripy">
    <thead>
    <tr>
        <td>Metadata field</td>
        <td>Value</td>
    </tr>
    </thead>
    <tbody>
    {% for item in metadata_keys %}
    <tr>
        <td>
            {{ item }}
        </td>
        <td>
            {{ metadata[item] }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<hr/>

<form method="POST" action="{{self_url}}">
    Show wavelengths from
    <input style="width:80px;" type="text" name="lambda_min" value="{{lambda_min}}"/>
    A to
    <input style="width:80px;" type="text" name="lambda_max" value="{{lambda_max}}"/>
    A.
    <input class="btn btn-sm btn-primary" style="margin:20px 0; vertical-align: middle;" type="submit"
           value="Update..."/>
</form>

<img src="{{png_url}}">

<div>
    <form method="get" action="{{txt_url}}">
        <input style="margin:16px;" type="submit" name="Download as text" value="Download as text"/>
    </form>

    <form method="get" action="{{data_url}}">
        <input style="margin:16px;" type="submit" name="Download as JSON" value="Download as JSON"/>
    </form>
</div>

{% endblock %}
